:root {
  --bt-primary: #ce0f0f;
  --bt-dark: #211819;
  --bt-light: #fff2d3;
  --bt-accent: #f5ad1d;
  --bt-accent-2: #72d991;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
